body{
    margin: 0px;
    /*background-image: url('https://play-lh.googleusercontent.com/2CGELmJiSElPwjREp7RvpDDzbnq9bGMGhvOBHkqcHrVPdGjJesHHuzKtC6LkCq-F0Fw');
    background-size: 200px;*/
}

canvas{
    background-image: url('https://media.istockphoto.com/vectors/carnival-duck-shoot-vector-id165607737?k=20&m=165607737&s=612x612&w=0&h=Xl-FatKfSs5WQCNhcLFdjWKIkcSYcFo-R1M0uPh0ACE=');
    background-repeat: no-repeat;
    background-size: 995px;
    display: flex;
    justify-content:center;
}

header{
    display: flex;
    justify-content:center;
    flex-direction: row;
    color: black;
    background-color: white;
    
}

h1{
    text-align: center;
    font-size: 50px;
    font-style: oblique, bold;
    font-family:fantasy;
}

img{
    width: 100px;
    height: 100px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

div{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 20px;
}

#score{
    font-size: 50px;
}